:root{
  --body_background: white;
  --body_color: black;
  --link_color: navy;
  --butn_color: rgb(45, 166, 247);
  --main_color: #899dee;
  --toggle_bg: rgb(241, 238, 56);
  --toggle_fg: yellow;

}

[data-theme="dark"]{
  --body_background: #282c34;
  --body_color: white;
  --link_color: cyan;
  --butn_color: rgb(45, 166, 247);
  --toggle_bg: rgb(7, 123, 255);
  --toggle_fg: rgb(47, 0, 255);
}



*{
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
  background-color: var(--body_background);
  color: var(--body_color);
}

.Container{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--body_background);
    color: var(--body_color);
}

nav a {
    margin: 0 2rem;
    color: var(--body_color);
    text-decoration: none;
}



header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}


.Logo{
  cursor: pointer;
}

nav a{
    position: relative;
    cursor: pointer;
}
nav a::after{
    content: "";
    position: absolute;
    justify-self: center;
    bottom: -2px;
    height: 1px;
    width: 50%;
    left: 0;
    background-color: var(--toggle_bg);
    transition: .7s;
    transition-timing-function: easy-in-out;
    transform: scaleX(0)
}
nav a:hover::after{
    transform: scaleX(1)
}











.form{
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: flex-start;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 2px 4px 10px var(--body_color);
}

input[type=text], input[type=password],input[type=email]{
    margin-top: 0.5em;
    font-size: 1rem;
    width: 300px;
    border:1px  solid var(--body_color);
    border-radius: 5px;
    padding: 0.5em;
}
.button{
    margin-top: 0.5em;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    background: var(--butn_color);
    color: var(--body_color);
    cursor: pointer;
}

.InputLabel{
    font-size: 1.2em;
    margin-top: 0.5em;
}

.error{
    color: red;
}
.success{
    color: green;
}
.ButtonContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
p{
  font-size:1.4rem ;
}
.suggestion_text{
  font-size: 1rem;
}
.link{
  cursor: pointer;
  color: var(--link_color);
}
@media only screen and  (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--body_background);
        transition: 1s;
    }
    header .responsive_nav{
        transform: none;
        transform: translateY(100vh);
    }

    nav .nav-close-btn{
        position: absolute;
        top:2rem;
        right: 2rem;
    }
    nav a{
        font-size: 1.5rem;
    }
}